.header__link {
    color: #fff;
    position: absolute;
    right: 0;
    top: 52px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}