.popup__content {
    width: 100%;
    max-width: 430px;
    max-height: 330px;
    position: relative;
    padding: 34px 36px 36px;
    background-color: #FFF;
    color: #000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
}

@media (max-width: 550px) {
    .popup__content {
        max-width: 282px;
        padding: 25px 22px;
        max-height: 322px;
    }
}