/* .form {
    border: 0;
    width: 100%;
    max-width: 358px;
    padding-right: 0;
    padding-left: 0;
    margin: 0 0 0;
}

@media (max-width: 400px) {
    .form {
        margin: 0 0 12px;
    }
} */